.about-page-bg{
    background-image: url(how.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    block-size: 600px;
}
.about-page-h1{
    position: absolute;
    top :180px;
    left: 500px;
} 
.about-page-img{
    margin-right: 20px;
    width: 60%;
    box-shadow: 10px 10px 0px 1px rgb(0 0 0 / 7%);
}
.about-second-div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.about-third-div{
    display: grid;
    padding-top: 20px;
}
.about-page-p-intro{
    padding-top: 70px;
    font-size: 20px;
    padding-right: 70px;
    padding-left: 70px;

}
