.wpforms-container .wpforms-submit-container {
    padding: 10px 0 0 0;
    position: relative;
}
.menu-toggle, button, .ast-button, .ast-custom-button, .button, input#submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #ffffff;
    border-color: #fb2056;
    background-color: #fb2056;
    border-radius: 30px;
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 17px;
    padding-left: 40px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.elementor-element-33a79095{
    background-image: url('sentiment_analysis-1.jpg');
    background-position: -9px -100px;
    background-repeat: no-repeat;
    background-size: cover;
    block-size: 500px;
}